@page
@model Web.Pages.Documents.CreateModel
@{
    ViewData["Title"] = "Create Document";
}

<h1>Create Document</h1>

<form method="post" enctype="multipart/form-data">
@*    <div class="form-group">
        <label asp-for="Document.Title"></label>
        <input class="form-control" asp-for="Document.Title" />
        <span asp-validation-for="Document.Title" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        <label asp-for="DocumentFile"></label>
        <input type="file" class="form-control-file" asp-for="DocumentFile" />
        <span asp-validation-for="DocumentFile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>