@page
@model Web.Pages.Documents.EditModel

<h1>Edit Document</h1>

@if (Model.Document != null)
{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Document.Id" />

        <div>
            <label>Title:</label>
            <input type="text" asp-for="Document.Title" />
        </div>
        <div>
            <label>Description:</label>
            <textarea asp-for="Document.Description"></textarea>
        </div>
        <div>
            <label>Status:</label>
            <select asp-for="Document.Status">
                <option value="Public">Public</option>
                <option value="Private">Private</option>
                <option value="Internal">Internal</option>
            </select>
        </div>

        <a asp-page="../Index" class="btn btn-secondary">Edytuj</a>
    </form>
}
else
{
    <p>Document not found.</p>
}