@page
@model Web.Pages.Documents.IndexModel

<h1>Document List</h1>

@if (Model.Documents == null || Model.Documents.Count() == 0)
{
    <p>No documents found.</p>
}
else
{
    <ul>
        @foreach (var document in Model.Documents)
        {
            <li>
                <!-- Wyświetlanie danych dokumentu -->
                <h2>@document.Title</h2>
                <p>@document.Description</p>
                <p>Created by: @document.CreatedBy</p>
                <p>Status: @document.Status</p>               
            </li>
        }
    </ul>
}
