@page
@model Web.Pages.Documents.IndexModel

<h1>List of Documents</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>File Type</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model.Documents)
        {
            <tr>
                <td>@document.Title</td>
                <td>@document.FileType</td>
                <td>@document.Description</td>
                <td>@document.Status</td>
            </tr>
        }
    </tbody>
</table>